body{
    box-sizing: border-box;
    color: white;
    background-color: #24272c;
}
#title{
    padding: 0.2rem;
    background-color: #293039;
}
.suggestion,.latest_stuffs{
    background-color: #28a745;
    margin-right: 1rem;
}
.featured{
    background-color: #e4b33c;
    color: black;
}
.top_bar{
    padding: 0.5rem;
    border-radius: 10px;
}
.poster{
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 10px;
}
#notice,#featured_content, #main_content{
    padding: 2rem 8rem 0rem;
    background-color: #24272c;
}
.mv_content{
    margin: 1rem;
    text-align: center;
}
#notice{
    text-align: center;
    font-size: 2rem;
}
footer{
    margin: 2rem 0;
    text-align: center;
}
@media screen and (max-width: 600px) {
    #notice,#featured_content, #main_content{
        padding: 1rem 0.5rem 0rem;
        background-color: #24272c;
    }
    .poster{
        width: 100px;
        border-radius: 0px;
    }
  }